.modal.security {
  .modal-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    button + button {
      margin-top: var(--universal-padding);
    }
  }
}