$active-darken-amount: 15%;

.btn {
  --btn-background: #{$primary-color};
  --btn-foreground: #{$background-color};

  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $font-family;
  font-size: 2rem;
  border-radius: var(--border-radius);
  cursor: pointer;
  background-color: var(--btn-background);
  color: var(--btn-foreground);

  &.square {
    width: 2em;
    height: 2em;
  }

  &.transparent {
    --btn-background: rgba(0, 0, 0, 0);
    --btn-foreground: #{$border-color};

    &.active,
    &:active {
      --btn-background: #{darken($primary-color, $active-darken-amount) };
      --btn-foreground: #{$white};
    }
  }

  &.primary {
    --btn-background: #{$primary-color};

    &.active,
    &:active {
      --btn-background: #{darken($primary-color, $active-darken-amount) };
      --btn-foreground: #{$white};
    }
  }

  &.success {
    --btn-background: #{$success-color};
    
    &.active,
    &:active {
      --btn-background: #{darken($success-color, $active-darken-amount) };
      --btn-foreground: #{$white};
    }
  }

  &.danger {
    --btn-background: #{$danger-color};

    &.active,
    &:active {
      --btn-background: #{darken($danger-color, $active-darken-amount) };
      --btn-foreground: #{$white};
    }
  }
}