.tpb-checkbox {
  display: flex;
  align-items: center;

  input[type="checkbox"] {
    font-size: 1em;
    width: 1.5em !important;
    height: 1.5em !important;
  }

  label{
    cursor: pointer;
    margin-left: 0.5em;
  }
}