.joystick {
  position: relative;
  width: 100%;
  height: 100%;
  --joystick-padding: var(--universal-padding);
  
  svg.clip-path-svg {
    position: absolute;
    width: 0; 
    height: 0;
  } 

  svg.limit-svg {
    position: absolute;
    path {
      stroke: $border-color;
      stroke-width: 1px;
    }
    left: var(--joystick-padding);
    top: var(--joystick-padding);
    width: calc(100% - (var(--joystick-padding) * 2));
    height: calc(100% - (var(--joystick-padding) * 2));
    fill: none;
  }

  .background {
    position: absolute;
    left: var(--joystick-padding);
    top: var(--joystick-padding);
    width: calc(100% - (var(--joystick-padding) * 2));
    height: calc(100% - (var(--joystick-padding) * 2));
    background: $black;
    background: radial-gradient(circle, $black 0%, lighten($black, 25%) 80%);
    -webkit-clip-path: url(#joystick_background_clip_path);
    clip-path: url(#joystick_background_clip_path);
    pointer-events: none;
  }

  .drag-zone {
    position: absolute;
    display: block;
    top: 20%;
    left: 20%;
    width: 60%;
    height: 60%;
    pointer-events: none;

    .knob { 
      --offsetX: 0;
      --offsetY: 0;
      position: absolute;
      display: block;
      cursor: pointer;
      background: $light-background-color;
      top: calc(50% + var(--offsetY) / 2);
      left: calc(50% + var(--offsetX) / 2);
      width: 70%;
      height: 70%;
      border-radius: 50%;
      border: 1px solid $border-color;
      user-select: none;
      transform: translate(-50%, -50%);
      pointer-events: all;

      i.tbp-icon {
        position: absolute;
        color: lighten($light-background-color, 15%);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 2em; 
      }
    }
  }
}