.joystick {
  position: relative;
  width: 100%;
  height: 100%;
  --joystick-padding: var(--universal-padding);
  
  svg.clip-path-svg {
    position: absolute;
    width: 0; 
    height: 0;
  } 

  svg.limit-svg {
    position: absolute;
    path {
      stroke: $border-color;
      stroke-width: 1px;
    }
    left: var(--joystick-padding);
    top: var(--joystick-padding);
    width: calc(100% - (var(--joystick-padding) * 2));
    height: calc(100% - (var(--joystick-padding) * 2));
    fill: none;
  }

  .background {
    position: absolute;
    left: var(--joystick-padding);
    top: var(--joystick-padding);
    width: calc(100% - (var(--joystick-padding) * 2));
    height: calc(100% - (var(--joystick-padding) * 2));
    background: $black;
    background: radial-gradient(circle, $black 0%, lighten($black, 25%) 80%);
    -webkit-clip-path: url(#joystick_background_clip_path);
    clip-path: url(#joystick_background_clip_path);
  }

  .drag-zone {
    position: absolute;
    display: block;
    pointer-events: none;
    top: 15%;
    left: 15%;
    width: 70%;
    height: 70%;
  }

  .knob { 
    --offsetX: 0;
    --offsetY: 0;
    position: absolute;
    display: block;
    cursor: pointer;
    background: $light-background-color;
    top: calc(30% + (var(--offsetY) / 4));
    left: calc(30% + (var(--offsetX) / 4));
    width: 40%;
    height: 40%;
    border-radius: 50%;
    border: 1px solid $border-color;
    user-select: none;

    i.tbp-icon {
      position: absolute;
      color: lighten($light-background-color, 15%);
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 3em; 
    }
  }
}