.menu-bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 4rem;
  padding: 1rem;
  background-color: $primary-color;
  display: flex;
  justify-content: space-between;

  .status-indicator-wrapper {
    background-color: $background-color;
    min-width: 2rem;
    font-size: 2rem;
    padding: 0.5rem 1rem;
    border-radius: var(--border-radius);
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .status-indicator {
      color: $text-color;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &+.status-indicator {
        margin-left: 0.5em;
      }

      &.danger {
        color: $danger-color;
      }

      &.warning {
        color: $warning-color;
      } 

      &.success {
        color: $danger-color;
      } 

      span {
        font-size: 0.25em;
        text-transform: uppercase;
        font-weight: 300;
        margin-top: 0.25em;
        margin-left: 0;
      }
    }
  }
}